@page "/summaries"
@using NoteBookmark.Domain
@inject PostNoteClient client
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject IJSRuntime jsRuntime

<PageTitle>Summaries</PageTitle>

<h1>Summaries</h1>

<FluentDataGrid Id="postgrid" Items="@summaries">
    <ChildContent>
        <TemplateColumn Width="100px">
            @if(!String.IsNullOrEmpty(context!.PublishedURL))
            {
                <FluentButton OnClick="@(async () => await OpenUrlInNewWindow(context!.PublishedURL))"
                    IconEnd="@(new Icons.Regular.Size20.Open())" />
            }
            <FluentButton OnClick="@(() => OpenSummaryEditor(context!.RowKey))"
                IconEnd="@(new Icons.Regular.Size20.Edit())" />
        </TemplateColumn>
        <PropertyColumn Title="Title" Property="@(c => c!.Title)" Sortable="true" />
        <PropertyColumn Title="Created" Property="@(c => c!.Timestamp)" Format="yyyy-MM-dd" Sortable="true"
            SortBy="@defSort" IsDefaultSortColumn="true" />
    </ChildContent>
    <EmptyContent>
        <FluentIcon Value="@(new Icons.Filled.Size24.Crown())" Color="@Color.Accent" />&nbsp; Nothing to see here. Carry
        on!
    </EmptyContent>
</FluentDataGrid>


@code {
    private IQueryable<Summary>? summaries;
    private GridSort<Summary> defSort = GridSort<Summary>.ByDescending(c => c.Timestamp);

    protected override async Task OnInitializedAsync()
    {
        var urPosts = await client.GetSummaries();
        summaries = urPosts.AsQueryable();
    }

    private void OpenSummaryEditor(string? number)
    {
        Navigation.NavigateTo($"summaryeditor/{number}");
    }

    private async Task OpenUrlInNewWindow(string? url)
    {
        await jsRuntime.InvokeVoidAsync("open", url, "_blank");
    }
}
