@page "/summaryeditor/{number?}"

@using Markdig
@using NoteBookmark.Domain
@using NoteBookmark.AIServices

@inject IDialogService DialogService
@inject PostNoteClient client
@inject IJSRuntime jsRuntime
@inject IToastService toastService
@inject SummaryService aiService

@rendermode InteractiveServer

<h2>SummaryEditor</h2>

@if (readingNotes == null)
{
    <p><em>Loading...</em></p>
}
else{
    <FluentTabs @bind-ActiveTabId="@activeid" OnTabChange="HandleOnTabChange" >
        
        <FluentTab Label=" Edit Summary" Icon="@(new Icons.Regular.Size20.FormSparkle())" Id="tabEdit">
            <EditForm Model="@readingNotes"  OnValidSubmit="@HandleValidSubmit" FormName="new_readingNotes">
                <FluentStack Orientation="Orientation.Vertical" Width="100%">
                    
                    <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">Save as Draft</FluentButton>
                    
                    <DataAnnotationsValidator />

                    <div style="width: 80%;">
                        <FluentTextField Label="Title" @bind-Value="readingNotes!.Title"/>
                    </div>
                    <div style="width: 80%;">
                        <FluentTextField Label="Summary Tags" @bind-Value="@readingNotes!.Tags" style="width: 100%;"/>
                    </div>
                    <div style="width: 80%;">
                        <FluentTextField Label="Published Url" @bind-Value="@readingNotes!.PublishedUrl" style="width: 80%;"/>
                    </div>
                    <div style="width: 80%;">
                        <FluentTextArea Placeholder="Introduction" @bind-Value=@readingNotes.Intro Cols="100" Rows="5"></FluentTextArea>  
                    </div>
                    <FluentButton   OnClick="@(async () => await GenerateIntroParagraph())"
                                    Loading="@isGenarating"
                                    IconStart="@(new Icons.Filled.Size20.StarEmphasis())">Generate</FluentButton>

                    <div>
                        @foreach (var note in readingNotes!.Notes)
                        {
                            string category = note.Key;
                            List<ReadingNote> rnList = note.Value;
                            <div style="margin-bottom: 30px;">
                                <FluentStack Orientation="Orientation.Horizontal">
                                    <h4>@category</h4>
                                    <FluentButton Title="Delete ReadingNote" OnClick="@(() => DeleteCategory(category))" Type="ButtonType.Button" Appearance="Appearance.Lightweight" IconStart="@(new Icons.Regular.Size16.Delete())"></FluentButton>
                                </FluentStack>
                                
                                @foreach (ReadingNote rn in rnList)
                                {
                                    <div style="margin: 20px; padding: 20px; width: 100%; border: groove;  border-radius: 5px; background-color: gray">
                                        <FluentButton Title="Delete ReadingNote" OnClick="@(() => DeleteReadingNote(category, rn.RowKey!))" Type="ButtonType.Button" Appearance="Appearance.Lightweight" IconStart="@(new Icons.Regular.Size16.Delete())" ></FluentButton>
                                        <FluentTextField Label="Post Title" @bind-Value="rn.Title" style="width: 100%;"/>

                                        <FluentTextField Label="Post Autor" @bind-Value="rn.Author" style="width: 100%;"/>

                                        <FluentStack Orientation="Orientation.Horizontal" Width="100%">
                                            <FluentTextField Label="Post URL" @bind-Value="rn.Url" style="width: 80%;"/>
                                            <FluentButton OnClick="@(async () => await OpenUrlInNewWindow(@rn.Url))" IconEnd="@(new Icons.Regular.Size16.Open())"/>
                                        </FluentStack>

                                        <FluentTextArea Label="Comment" @bind-Value="rn.Comment" Resize="TextAreaResize.Both" Cols="100"/>

                                        <FluentTextField Label="Tags" @bind-Value="rn.Tags" style="width: 100%;"/>
                                    </div>

                                }
                                <FluentButton OnClick="@(() => AddExtraNote(category))" Type="ButtonType.Button" Appearance="Appearance.Accent" style="margin: 20px;">Add Note</FluentButton>
                            </div>
                        }
                        <FluentButton OnClick="@(async () => await AddExtraCategory())" Type="ButtonType.Button" Appearance="Appearance.Accent" style="margin: 20px;">Add Category</FluentButton>
                    </div>

                </FluentStack>
                <div style="color: var(--error);">
                    <FluentValidationSummary />
                </div>
                <FluentButton OnClick="@(async () => await Publish())" Type="ButtonType.Button" Appearance="Appearance.Lightweight">Publish</FluentButton> | 
                <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">Save as Draft</FluentButton>
            </EditForm>

        </FluentTab>

        <FluentTab Label=" Markdown" Icon="@(new Icons.Regular.Size20.Markdown())" Id="tabMD">
            <FluentTextArea @bind-Value="@readingNotesMD" Cols="100" Rows="30"/>
        </FluentTab>

        <FluentTab Label=" Html" Icon="@(new Icons.Regular.Size20.Code())" Id="tabHTML">
            <FluentTextArea Value="@readingNotesHTML" Cols="100" Rows="30"/>
        </FluentTab>

    </FluentTabs>
    
}



@code {

    [Parameter]
    public string? number { get; set; }
    private ReadingNotes? readingNotes;
    private string? activeid = "tabEdit";
    private FluentTab? changedto;

    private string? readingNotesMD = string.Empty;
    private string? readingNotesHTML = string.Empty;

    private bool isGenarating = false;

    protected override async Task OnInitializedAsync()
    {
        if(string.IsNullOrEmpty(number))
        {
            readingNotes = await client.CreateReadingNotes();
        }
        else
        {
            readingNotes = await client.GetReadingNotes(number);
        }
    }
    
    private async Task OpenUrlInNewWindow(string? url)
    {
        await jsRuntime.InvokeVoidAsync("open", url, "_blank");
    }
    
    private void AddExtraNote(string category)
    {
        readingNotes!.Notes[category].Add(new ReadingNote());
    }
    
    async Task AddExtraCategory()
    {
        var newCategory = string.Empty;
        var dialogInstance = await DialogService.ShowDialogAsync(@<div>
                                                                      <FluentTextField @bind-Value=newCategory Label="Enter new Category:" />
                                                                  </div>
            , new DialogParameters
            {
                Title = "New Category",
            });
        var result = await dialogInstance.Result;
        if (!result.Cancelled)
        {
            readingNotes!.Notes.Add(newCategory, new List<ReadingNote> {new ReadingNote()});
        }
    }
    
    private async Task HandleValidSubmit()
    {
        if(readingNotes is not null){
            var result = await client.SaveReadingNotes(readingNotes);
            if(result)
            {
                ShowConfirmationMessage();
            }
        }
    }

    private void HandleOnTabChange(FluentTab tab)
    {   
        if(tab.Id == "tabMD")
        {
            readingNotesMD = readingNotes!.ToMarkDown();
        }
        if(tab.Id == "tabHTML")
        {
            readingNotesHTML = Markdown.ToHtml(readingNotesMD!);
        }
        changedto = tab;
    }

    private void ShowConfirmationMessage()
    {
        toastService.ShowSuccess("Summary saved successfully!");
    }
    
    private async Task DeleteCategory(string category)
    {
        DialogParameters parameters = new()
        {
            Title = $"Delete category: {category}?",
            TrapFocus = true,
            Modal = true,
            PreventScroll = true 
        };
        var msg = $"Are you sure you want to delete this category and all ({readingNotes!.Notes[category].Count}) notes in it notes in it?";
        IDialogReference dialog = await DialogService.ShowDialogAsync(@<div>@msg</div>, parameters);
        DialogResult? result = await dialog.Result;

        if (!result.Cancelled)
        {
            readingNotes!.Notes.Remove(category);
        }
    }
    
    private void DeleteReadingNote(string category, string RowKey)
    {
        readingNotes!.Notes[category].RemoveAll(x => x.RowKey == RowKey);
    }    
    
    private async Task Publish()
    {
        if (readingNotes is not null)
        {
            if (string.IsNullOrWhiteSpace(readingNotes.PublishedUrl))
            {
                toastService.ShowError("Published Url is required to publish.");
                return;
            }
            
            // Save markdown to blob storage only if readingNotesMD is not null or empty
            if (!string.IsNullOrWhiteSpace(readingNotesMD))
            {
                var markdownSaved = await client.SaveReadingNotesMarkdown(readingNotesMD, readingNotes.Number);
                if (!markdownSaved)
                {
                    toastService.ShowError("Failed to save markdown file.");
                    return;
                }
            }
            
            await HandleValidSubmit();
            var settings = await client.GetSettings();
            if (settings is not null)
            {
                var cnt = Convert.ToInt32(settings!.ReadingNotesCounter);
                // Only increment if the current Summary is the most recent one.
                if (cnt == Convert.ToInt32(readingNotes!.Number))
                {
                    cnt++;
                    settings.ReadingNotesCounter = (cnt).ToString();
                    await client.SaveSettings(settings);
                }
            }
            
            toastService.ShowSuccess("Reading notes published successfully!");
        }
    }

    private async Task GenerateIntroParagraph()
    {
        isGenarating = true;
        var summaryText = readingNotes!.ToMarkDown();
        try{
            string introText = await aiService.GenerateSummaryAsync(summaryText); 
            readingNotes.Intro = introText;
        }
        catch(Exception ex)
        {
            toastService.ShowError($"Oops! Error: {ex.Message}");
        }
        finally
        {
            isGenarating = false;
        }
    }

}

