@using NoteBookmark.Domain
@using Microsoft.FluentUI.AspNetCore.Components
@inject IToastService toastService
@inject IDialogService DialogService

@inject PostNoteClient client


<h3>Suggestions</h3>

<FluentDataGrid Id="postgrid" Items="@filteredUrlList" Pagination="@pagination">
    <ChildContent>       
        <TemplateColumn Width="150px">
            <FluentButton OnClick="@(async () => await AddSuggestion(context!.Url))" IconEnd="@(new Icons.Regular.Size20.Add())" />
            <FluentButton OnClick="@(async () => await DeleteSuggestion(context!.Url))" IconEnd="@(new Icons.Regular.Size20.Delete())" />
        </TemplateColumn>
        <PropertyColumn Title="Title" Property="@(c => c!.Title)" Sortable="true"  Filtered="!string.IsNullOrWhiteSpace(titleFilter)" >
            <ColumnOptions>
                    <div class="search-box">
                        <FluentSearch type="search" Autofocus=true @bind-Value=titleFilter @oninput="HandleTitleFilter" @bind-Value:after="HandleClearTitleFilter" Placeholder="contains..." />
                    </div>
            </ColumnOptions>
        </PropertyColumn>
        <PropertyColumn Title="Published" 
                        Property="@(c => (c!.PublicationDate ?? "0000-00-00").Substring(0,10))"  
                        Sortable="true" SortBy="@defSort" 
                        IsDefaultSortColumn="true" 
                        Width="125px"/>
    </ChildContent>
    <EmptyContent>
        <FluentIcon Value="@(new Icons.Filled.Size20.Crown())" Color="@Color.Accent" />&nbsp; Nothing to see here. Carry on!
    </EmptyContent>
</FluentDataGrid>
<FluentPaginator State="@pagination" />

@code {

    private PaginationState pagination = new PaginationState { ItemsPerPage = 20 };
    private string titleFilter = string.Empty;

    IQueryable<PostSuggestion>? filteredUrlList => posts?.Where(x => x.Title!.Contains(titleFilter, StringComparison.CurrentCultureIgnoreCase));

    private IQueryable<PostSuggestion>? posts;
    private GridSort<PostSuggestion> defSort = GridSort<PostSuggestion>.ByDescending(c => c.PublicationDate);
    private string newPostUrl = string.Empty;
    private bool showRead = false;



    private async Task AddSuggestion(string postId)
    {
        
    }

    private async Task DeleteSuggestion(string postId)
    {
        var result = await client.DeletePost(postId);
        if (result)
        {
            @* await LoadSuggestions(); *@
            toastService.ShowSuccess("Suggestion deleted successfully!");
        }
        else
        {
            toastService.ShowError("Failed to delete suggestion. Please try again.");
        }
    }


    private void HandleTitleFilter(ChangeEventArgs args)
    {
        if (args.Value is string value)
        {
            titleFilter = value;
        }
    }

    private void HandleClearTitleFilter()
    {
        if (string.IsNullOrWhiteSpace(titleFilter))
        {
            titleFilter = string.Empty;
        }
    }
}
