@page "/search"
@using NoteBookmark.BlazorApp.Components.Shared
@using NoteBookmark.Domain
@using Microsoft.FluentUI.AspNetCore.Components
@inject PostNoteClient client
@* @inject IJSRuntime jsRuntime *@
@* @inject IToastService toastService
@inject IDialogService DialogService *@
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Search</PageTitle>

<h1>Search</h1>

<FluentStack Orientation="Orientation.Vertical">
    <EditForm Model="@_criterias" FormName="new_note">
        <DataAnnotationsValidator />

        <FluentStack Orientation="Orientation.Vertical">
            
            <FluentValidationMessage For="@(() => _criterias.SearchPrompt)" />
            <div>
                <FluentTextArea Name="Search Prompt" Label="Search Prompt" @bind-Value="_criterias.SearchPrompt" Required="true" />
                <FluentValidationMessage For="@(() => _criterias.SearchPrompt)" />
            </div>

            <div>
                <FluentTextField Name="Allowed Domains" Label="Allowed Domains (Comma Separated)" @bind-Value="_criterias.AllowedDomains" />
                <FluentValidationMessage For="@(() => _criterias.AllowedDomains)" />
            </div>

            <div>
                <FluentTextField Name="Blocked Domains" Label="Blocked Domains (Comma Separated)" @bind-Value="_criterias.BlockedDomains" />
                <FluentValidationMessage For="@(() => _criterias.BlockedDomains)" />
            </div>

        </FluentStack>
        <div style="color: var(--error);">
            <FluentValidationSummary />
        </div>
    </EditForm>
    @* <FluentSwitch ValueChanged="OnShowReadChanged" Label="Show">
        <span slot="checked-message">Read Only</span>
        <span slot="unchecked-message">UnRead Only</span>
    </FluentSwitch> *@
    <SuggestionList></SuggestionList>
</FluentStack>




@code {
    private IQueryable<PostL>? posts;
    private GridSort<PostL> defSort = GridSort<PostL>.ByDescending(c => c.Date_published);
    private string newPostUrl = string.Empty;
    private bool showRead = false;

    private SearchCriterias _criterias = new SearchCriterias();


    protected override async Task OnInitializedAsync()
    {
        await LoadPosts();
    }

    private async Task LoadPosts()
    {
        List<PostL> loadedPosts = showRead ? await client.GetReadPosts(): await client.GetUnreadPosts();
        posts = loadedPosts.AsQueryable();
    }

    @* private async Task OpenUrlInNewWindow(string? url)
    {
        await jsRuntime.InvokeVoidAsync("open", url, "_blank");
    } *@

    

    private class SearchCriterias
    {
        public string? SearchPrompt { get; set; }
        public string? AllowedDomains { get; set; }
        public string? BlockedDomains { get; set; }
    }


}
